body {
    font-family: Arial, sans-serif;
}

.home-section {
    /* background-color: #ADD8E6; */
    background-color: #b8d1d9;
    color: white;
    padding: 50px 0;
    text-align: center;
}

img.rounded-circle {
    width: 150px;
    height: 100px;
    margin-bottom: 20px;
}

h1, h2 {
    color: white;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    margin: 10px;
    border: 1px solid #ddd;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-body {
    text-align: center;
}

video-background {
    position: fixed; /* Fix the video in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire screen */
    z-index: -1; /* Ensures the video is behind the content */
    pointer-events: none; /* Ensures the video doesn't interfere with user interactions */
}

/* Home Section Styling */
.home-section {
    text-align: center;
    position: relative;
    z-index: 1;
}

